<!DOCTYPE html>
<html ng-app="vision" ng-controller="viewCtrl">
<!-- vim: set tabstop=4 expandtab softab -->
<head>
    <title>Vision</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet"/>

<style>
.inline {
    display: inline;
    padding: 2em;
}

.selected {
    background-color: darkgrey;
}

h4 { display: inline; margin-left: 2em; margin-top: 1em; };

</style>
<script>
Array.prototype._indexOfS = function(element) {
    var i;
    for (i = 0; i < this.length; i++)
        if (element.s === this[i].s)
            return i;
    return -1;
}
</script>
<script src="js/jquery-2.0.3.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.10.0.min.js"></script>
<script src="js/messaging.js"></script>
<script src="js/rtc.js"></script>
<script>

var visionApp = angular.module('vision', ['ui.bootstrap']);

//visionApp.factory('peerservice', function () {
//});


function callRemote(remoteId) {
    console.log("main: we call ", remoteId);
    lpc = rtcGetConnection( ROLE.CALLER, remoteId);
}

function callWait() {
    console.log("main: we wait ");

    // we want to receive calls 
    smsRegisterCallback("sdp", function receiveSDP(sender, message) {
    
        msg = JSON.parse(message);
    
        // do not process answers !
        lPeers = []
        scope = angular.element(document).scope();
        lPeers = scope.peers;
    
        for (i = 0; i < lPeers.length; i++)
            if (lPeers[i].s == sender)
                return;

        console.log("got remote call from ", sender, msg);
    
        lpc = rtcGetConnection( ROLE.RECEIVER, sender );
    
        lpc.setRemoteDescription(new RTCSessionDescription(msg),
            function () {
                    console.log("success setting remote");
                    lpc.createSDPResponse();
            }, console.log); // we got another peer's offer
    });
}

visionApp.controller('viewCtrl', function($scope) {
    $scope.peers = [];
    $scope.remotes = [];

    $scope.triggerDisconnect = function (r) {
        console.log("trigger disconnection");
				$scope.removeConnection(r);

				// TODO: trigger rtc disconnect

				p = this.peers._indexOfS(r);
				if (p > -1) this.remote.splice(p, 1);
    }    

    $scope.triggerConnect = function (r) {
        console.log("trigger connection to ", r);

        $scope.addConnection(r);
        callRemote(r.s);
        p = this.remotes._indexOfS(r);
        if (p > -1) this.remotes.splice(p, 1);
    }


    $scope.removeConnection = function (c) {
        p = this.peers._indexOfS(c);
        if (p > -1) {
            this.peers.splice(p, 1);
        }
    }

    $scope.addConnection = function (c) {
        p = this.peers._indexOfS(c);
        if (p == -1)
            this.peers.push(c);
    }

    $scope.updateRemoteClients = function(clients) {
        if (clients === undefined) 
            return;

        $scope.remotes = [];

        for (i = 0 ; i < clients.length; i++) {
            j = clients[i];
            if (j.s != myId && $scope.peers._indexOfS(j) < 0) {
                $scope.remotes.push(j);         
            }        
        }

        for (i = 0; i < $scope.peers.length; i++) {
            if (clients._indexOfS($scope.peers[i]) < 0) {
                    $scope.removeConnection($scope.peers[i])
            }
        }
            

        // we will refresh the client list
        setTimeout(function() { smsListClients($scope.updateRemoteClients); }, 5000);

        $scope.$digest();
    }

});


function ext_updateRemoteClients(clients) { 
    scope = angular.element(document).scope();
    scope.updateRemoteClients(clients);
    scope.$digest();
}

/**
    Start the system
*/

$(document).ready( function () {
    smsStartSystem();
    $('#localId').text(myId);

    // for each client already existing, we will createOffers and send them
    smsListClients(ext_updateRemoteClients);


        // wait calls
        callWait();    
});

window.onbeforeunload = function () {
    console.log("almost dead");
    smsStopSystem();
};

</script>



</head>



<body role="main">
<div class="container">
    <div class="row">
    <h4>Chat</h4><div class="pull-right col-md-10"><textarea id="chat" readonly rows="5" class="col-md-10">
    </textarea></div>
    </div>

<hr/>
  <div class="row">
  <h4>Local Id</h4><p id="localId" class="inline"></p>
  </div>

<hr/>
  <div class="row">
   <div> 

    <h4>Peer Id List</h4>
    <div id="idList">
        <div ng-repeat="r in peers|orderBy:'s'" class="panel panel-default" ng-click="test()">

            <div class="panel-heading panel-title" style="padding-bottom: 1.4em" >
            <h4>{{r.s}}</h4>
            <button type="button" class="btn btn-primary pull-right " ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="triggerDisconnect(r)"> Disconnect </button>
            </div>

        </div>
    </div>
   </div>
  </div>


<hr/>
  <div class="row">
   <div> 

    <h4>Remote Id List</h4>
    <div id="idList">
        <div ng-repeat="r in remotes|orderBy:'s'" class="panel panel-default" >

            <div class="panel-heading panel-title" style="padding-bottom: 1.4em" >
            <h4>{{r.s}}</h4>
            <button type="button" class="btn btn-primary pull-right " ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="triggerConnect(r)"> Connect </button>
            </div>

        </div>
    </div>
   </div>
  </div>

<hr/>
 
  <div id="text" class="row">
  </div>
</div>
</body>
</html>
