<!DOCTYPE html>
<html ng-app="vision" ng-controller="viewCtrl">
<!-- vim: set tabstop=4 expandtab softab -->
<head>
    <title>Vision</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet"/>

<style>
.inline {
    display: inline;
    padding: 2em;
}

.selected {
    background-color: darkgrey;
}

h4 { display: inline; margin-left: 2em; margin-top: 1em; };

</style>
<script>
Array.prototype._indexOfS = function(element) {
    var i;
    for (i = 0; i < this.length; i++)
        if (element.s === this[i].s)
            return i;
    return -1;
}
</script>
<script src="js/jquery-2.0.3.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.10.0.min.js"></script>
<script src="js/messaging.js"></script>
<script src="js/rtc.js"></script>
<script>

var visionApp = angular.module('vision', ['ui.bootstrap']);

//visionApp.factory('testservice', function () {
//});


visionApp.controller('viewCtrl', function($scope) {
    $scope.tests = [];
    $scope.remotes = [];
    $scope.callbacks = {};


    $scope.sendMessage = function (c) {
        smsPostMessage(c.s, "test", "my sms from " + myId)
    }

    $scope.updateRemoteClients = function(clients) {
        if (clients === undefined) 
            return;

        $scope.remotes = []
        for (i = 0 ; i < clients.length; i++) {
          if (clients[i].s != myId) {
                $scope.remotes.push(clients[i]);
                if (! (clients[i].s in $scope.callbacks) ) {
                    function makeCallback(id) { return function (sender, msg) {
                        console.log(" I recv ", msg, " from ", id);
                        if (sender != id) throw "Mismatched messages";
                     }
                    }
                    $scope.callbacks[clients[i].s] = smsRegisterCallback("test", makeCallback(clients[i].s) , clients[i].s);  
                }
          }
        }

        // we will refresh the client list
        setTimeout(function() { smsListClients($scope.updateRemoteClients); }, 5000);

        $scope.$digest();
    }

});


function ext_updateRemoteClients(clients) { 
    scope = angular.element(document).scope();
    scope.updateRemoteClients(clients);
    scope.$digest();
}

/**
    Start the system
*/

$(document).ready( function () {
    smsStartSystem();
    $('#localId').text(myId);

    // for each client already existing, we will createOffers and send them
    smsListClients(ext_updateRemoteClients);


});

window.onbeforeunload = function () {
    console.log("almost dead");
    smsStopSystem();
};

</script>



</head>


<body role="main">
<div class="container">


<hr/>
  <div class="row">
   <div> 

    <h4>Test List</h4>
    <div id="idList">
        <div ng-repeat="r in tests|orderBy:'s'" class="panel panel-default">
        </div>
    </div>
<hr/>
  <h4>Remote List</h4>
    <div id="idList">
        <div ng-repeat="r in remotes|orderBy:'s'" class="panel panel-default" ng-click="test()">

            <div class="panel-heading panel-title" style="padding-bottom: 1.4em" >
            <h4>{{r.s}}</h4>
            <button type="button" class="btn btn-primary pull-right " ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="sendMessage(r)"> SMS </button>
            </div>

        </div>
    </div>


   </div>
  </div>


<hr/>
 
  <div id="text" class="row">
  </div>
</div>
</body>
</html>
