<!DOCTYPE html>
<html>
{% load static %}
<!-- vim: set tabstop=2 expandtab ai: -->

<title>Vision</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static "css/bootstrap.min.css" %}" type="text/css" rel="stylesheet"/>

<script src="{% static "js/jquery-2.0.3.min.js" %}"></script>
<script src="{% static "js/angular.min.js" %}"></script>
<script src="{% static "js/ui-bootstrap-tpls-0.10.0.min.js" %}"></script>



<body>
<div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/log">AdminLog</a></li>
            <li><a href="/admin">Admin</a></li>
          </ul>
        </div>
{% block "mainbody" %}
{% endblock %}
</body>
</html>
