{%extends "base.html"%}
<!-- vim: set tabstop=2 expandtab ai: -->
{% load staticfiles %}


{%block "mainbody"%}
<script src="{% static "js/appcommon.js" %}"></script>
<script>
  var logviewApp = angular.module('logview', ['ui.bootstrap'], angular_formpost);
  logviewApp.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol("{[");
    $interpolateProvider.endSymbol("]}");
  });

  logviewApp.controller('appCtrl', function($scope, $http, $q, $interval) {

    $scope.clientset = [
    {% for i in clients %}
      { "externid" : "{{i.externid}}", "clientlog_count":{{i.clientlog_set.all|length}} },
    {% endfor %}
    ];
    $scope.logset = [];

    $scope.logUpdate = function() {
      console.log("selected", $scope.clientid);
      $http.get("/log?" + $.param({t: $scope.clientid}))
        .success(
          function (data) {
            $scope.logset = data;
          }
        )
        .error(
          function (data, status) {
              alert("Failed log retrieval call " + status);
          }
        );
    }

    $scope.clientUpdate = function() {
      $http.get("/log?" + $.param({"type" : "client"}))
        .success(
          function (data) {
            $scope.clientset = data;
          }
        )
        .error(
          function (data, status) {
            alert("Failed client retrieval call " + status);
//            $interval.cancel($scope.updateInterval); 
          }
        );
    }

    $scope.updateInterval = $interval( $scope.clientUpdate, 1000);
  });

 
</script>

<div id="main" role="main" ng-app="logview" ng-controller="appCtrl" class="container">
  <div class="row">
   <select size="5" ng-model="clientid" ng-change="logUpdate()" class="span12">
      <option ng-repeat="i in clientset" value={[i.externid]}>{[i.externid]} - {[i.clientlog_count]}</option>
   </select>
   <a href="{% url "django.contrib.auth.views.logout" %}">Logout</a>
  </div>
  <div class="row">
    <table class="table">
    <tr ng-repeat="log in logset"><td>{[log.updated]} </td><td>{[log.tag]}</td><td>{[log.log]}</td></tr>
    </table>
  </div>
</div>
{%endblock%}
