{%extends "base.html"%}

{% block "contextualmenu" %}
        {% if  user.is_authenticated %}
	  {% if user.is_superuser %}
            <li><a href="{% url "sign.views.log" %}">AdminLog</a></li>
	    <li><a href="{% url "sign.views.oview" %}">Oview</a></li>
            <li><a href="/admin/">Admin</a></li>
	  {% endif %}
            <li><a href="{% url "django.contrib.auth.views.logout" %}">Logout</a></li>
        {% endif %}
{% endblock %}

{%block "mainbody"%}
<div class="container">
  <div class="row">
    <div class="col-md-6"><a href="{% url "sign.views.channelcreate" %}"><h3>Broadcast</h3></a>
        <p> select to broadcast a new channel </p>
    </div> 
    <div class="col-md-6"><h3> Online channels </h3>
	{% for c in channels %}	
            <p> 
		<a href="{% url "sign.views.channelview" c.id %}"><h3>{{c.name}}</h3></a>
            </p>     
    	{% endfor %}
    </div>
  </div>
</div>
{%endblock%}
